/* line 1, ../_sass/blog.scss */
.blog-page {
  background-color: #ffffff;
}

/* line 5, ../_sass/blog.scss */
.blog-post {
  margin-top: 20px;
}

/* line 10, ../_sass/blog.scss */
.blog-date p {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #2B1B17;
  margin-left: 50px;
}

/* line 19, ../_sass/blog.scss */
.blog-card {
  border-bottom: 1px dashed gray;
  padding-bottom: 20px;
  font-family: "optima";
}
/* line 23, ../_sass/blog.scss */
.blog-card .blog-title {
  margin: 0 0 20px 15px;
}
/* line 25, ../_sass/blog.scss */
.blog-card .blog-title h2 {
  font-family: "SketchBlock-Bold", sans-serif;
  font-size: 36px;
  font-style: bold;
}
/* line 30, ../_sass/blog.scss */
.blog-card .blog-title a {
  text-decoration: none;
  color: #463E3F;
}
/* line 36, ../_sass/blog.scss */
.blog-card .blog-content p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 15px 15px;
}
/* line 41, ../_sass/blog.scss */
.blog-card .blog-content a {
  color: #0099cb;
}
