/* line 2, ../_sass/main.scss */
html {
  background-image: url('../images/../images/background.png?1382689442');
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 10, ../_sass/main.scss */
.intro span {
  color: white;
  font-size: 36px;
  font-family: "optima";
  font-style: italic;
  margin-left: 30%;
}

/* line 18, ../_sass/main.scss */
.header {
  background-image: url('../images/../images/credarp.png?1382684637');
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 25, ../_sass/main.scss */
.header .logo {
  position: relative;
  width: 256px;
  margin-top: 20px;
  margin-left: 50%;
  margin-right: 50%;
  left: -128px;
  display: inline-block;
}
/* line 34, ../_sass/main.scss */
.header .intro {
  width: 720px;
  height: 90px;
  text-align: center;
  line-height: 90px;
}
/* line 40, ../_sass/main.scss */
.header .menu {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
}
/* line 46, ../_sass/main.scss */
.header .menu a {
  color: white;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 50, ../_sass/main.scss */
.header .menu a:hover {
  color: white;
  border-bottom: 1px solid;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 57, ../_sass/main.scss */
.header .menu ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
/* line 61, ../_sass/main.scss */
.header .menu ul li {
  display: inline-block;
  margin: 20px 50px;
}

/* line 69, ../_sass/main.scss */
.about {
  height: 220px;
  color: #898989;
  line-height: 1.8em;
  background: #f5f5f5;
}

/* line 76, ../_sass/main.scss */
.about-title {
  height: 250px;
  font-family: "optima";
  font-size: 40px;
  text-align: center;
}
/* line 81, ../_sass/main.scss */
.about-title p {
  vertical-align: middle;
  margin-top: 100px;
  font-style: italic;
}

/* line 88, ../_sass/main.scss */
.about-us {
  height: 250px;
  font-family: 'Lato', sans-serif;
}
/* line 91, ../_sass/main.scss */
.about-us p {
  font-size: 18px;
  width: 600px;
  margin: 60px auto;
}

/* line 98, ../_sass/main.scss */
.product {
  height: 245px;
  background-image: url(../images/elbumproduct.png);
}

/* line 103, ../_sass/main.scss */
.product-img {
  height: 245px;
}
/* line 105, ../_sass/main.scss */
.product-img img {
  width: 200px;
  height: 200px;
}

/* line 111, ../_sass/main.scss */
.productimg {
  margin: 30px 0 0 200px;
}

/* line 115, ../_sass/main.scss */
.product-info {
  height: 245px;
  font-family: "optima";
  font-size: 40px;
  text-align: center;
  color: white;
}
/* line 121, ../_sass/main.scss */
.product-info p {
  vertical-align: middle;
  margin-top: 100px;
  font-style: italic;
}

/* line 128, ../_sass/main.scss */
.team_title {
  height: 120px;
  font-size: 40px;
  color: #898989;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: #fafafa;
}

/* line 137, ../_sass/main.scss */
.about-team {
  padding: 40px;
}

/* line 141, ../_sass/main.scss */
.team {
  height: 600px;
  background-image: url(../images/team_member.jpg);
}
/* line 144, ../_sass/main.scss */
.team img {
  width: 160px;
  height: 160px;
  margin-left: 0;
}

/* line 151, ../_sass/main.scss */
.works {
  font-family: "optima";
  margin: 30px 0 30px 0;
}
/* line 154, ../_sass/main.scss */
.works .work-info {
  margin: 30px 0 0 100px;
}
/* line 156, ../_sass/main.scss */
.works .work-info h2 {
  font-size: 42px;
}
/* line 159, ../_sass/main.scss */
.works .work-info p {
  margin-top: 10px;
  font-size: 18px;
  width: 280px;
  line-height: 20px;
}
/* line 165, ../_sass/main.scss */
.works .work-info a {
  font-size: 16px;
  color: gray;
}
/* line 170, ../_sass/main.scss */
.works .work-img {
  margin: 0 0 0 20px;
  width: 300px;
  height: 250px;
}

/* line 177, ../_sass/main.scss */
.member {
  margin: 40px 0 0 30px;
  height: 560px;
  color: #E5E4E2;
  font-family: "optima";
  line-height: 1.3em;
}
/* line 183, ../_sass/main.scss */
.member a {
  color: #E5E4E2;
  font-size: 18px;
}
/* line 186, ../_sass/main.scss */
.member a:hover {
  color: silver;
}
/* line 190, ../_sass/main.scss */
.member .member-title {
  margin: 15px 0 15px 0;
  font-size: 18px;
}
/* line 195, ../_sass/main.scss */
.member .member-bio {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
/* line 200, ../_sass/main.scss */
.member .member-link {
  margin: 10px 5px 0 5px;
}

/* line 206, ../_sass/main.scss */
.wufoo {
  margin-top: 20px;
}

/* line 211, ../_sass/main.scss */
.contact-info p {
  color: #2B1B17;
  font-family: "optima";
  line-height: 1.5em;
  font-size: 20px;
  width: 190px;
  margin: 20px 0 0 50px;
}

/* line 221, ../_sass/main.scss */
.footer {
  height: 30px;
  margin: 20px auto;
  text-align: center;
  color: #2B1B17;
  font-family: "optima";
  font-size: 18px;
}
