/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../_sass/screen.scss */
a {
  text-decoration: none;
}

/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../_sass/main.scss */
html {
  background: url('../images/back2.png?1383705037') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 7, ../_sass/main.scss */
.header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-position: top left;
  background-image: url('../images/credarp_header.jpg?1380794090');
  background-repeat: no-repeat;
}
/* line 15, ../_sass/main.scss */
.header .logo {
  position: relative;
  left: -128px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 50%;
  margin-left: 50%;
  width: 256px;
}
/* line 24, ../_sass/main.scss */
.header .intro {
  color: white;
  font-style: italic;
  font-size: 36px;
  font-family: "optima";
  line-height: 90px;
}
/* line 31, ../_sass/main.scss */
.header .menu {
  margin: 0px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  font-family: 'Lato', sans-serif;
}
/* line 37, ../_sass/main.scss */
.header .menu ul {
  list-style: none;
}
/* line 39, ../_sass/main.scss */
.header .menu ul li {
  display: inline-block;
  margin: 20px 50px;
}
/* line 42, ../_sass/main.scss */
.header .menu ul li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: white;
  text-decoration: none;
}
/* line 46, ../_sass/main.scss */
.header .menu ul li a:hover {
  border-bottom: 1px solid;
}

/* line 55, ../_sass/main.scss */
.about {
  height: 220px;
  background: #f5f5f5;
  color: #898989;
  line-height: 1.8em;
}

/* line 62, ../_sass/main.scss */
.about-title {
  margin-top: 100px;
  height: 250px;
  vertical-align: middle;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-family: "optima";
}

/* line 72, ../_sass/main.scss */
.about-us {
  height: 250px;
  font-family: 'Lato', sans-serif;
}
/* line 75, ../_sass/main.scss */
.about-us p {
  margin: 60px auto;
  font-size: 18px;
}

/* line 81, ../_sass/main.scss */
.product {
  height: 245px;
  background-image: url(../images/elbumproduct.png);
}

/* line 86, ../_sass/main.scss */
.product-img {
  height: 245px;
}
/* line 88, ../_sass/main.scss */
.product-img img {
  width: 200px;
  height: 200px;
}

/* line 94, ../_sass/main.scss */
.productimg {
  margin: 30px 0 0 200px;
}

/* line 98, ../_sass/main.scss */
.product-info {
  height: 245px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "optima";
}
/* line 104, ../_sass/main.scss */
.product-info p {
  margin-top: 100px;
  vertical-align: middle;
  font-style: italic;
}

/* line 111, ../_sass/main.scss */
.team_title {
  height: 120px;
  background: #fafafa;
  color: #898989;
  text-align: center;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}

/* line 120, ../_sass/main.scss */
.about-team {
  padding: 40px;
}

/* line 124, ../_sass/main.scss */
.team {
  height: 600px;
  background-image: url(../images/team_member.jpg);
}
/* line 127, ../_sass/main.scss */
.team img {
  margin-left: 0;
  width: 160px;
  height: 160px;
}

/* line 134, ../_sass/main.scss */
.member {
  margin: 40px 0 0 30px;
  height: 560px;
  color: #E5E4E2;
  font-family: "optima";
  line-height: 1.4em;
}
/* line 140, ../_sass/main.scss */
.member a {
  color: #E5E4E2;
  font-size: 18px;
}
/* line 143, ../_sass/main.scss */
.member a:hover {
  color: silver;
}
/* line 147, ../_sass/main.scss */
.member .member-title {
  margin: 20px 0 20px 0;
  font-size: 18px;
}
/* line 151, ../_sass/main.scss */
.member .member-bio {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
/* line 155, ../_sass/main.scss */
.member .member-link {
  margin: 10px 5px 0 5px;
}

/* line 160, ../_sass/main.scss */
.wufoo {
  margin-top: 20px;
}

/* line 165, ../_sass/main.scss */
.contact-info p {
  margin: 20px 0 0 50px;
  width: 190px;
  color: #2B1B17;
  font-size: 20px;
  font-family: "optima";
  line-height: 1.5em;
}

/* line 175, ../_sass/main.scss */
.footer {
  margin: 20px auto;
  height: 30px;
  color: #2B1B17;
  text-align: center;
  font-size: 18px;
  font-family: "optima";
}

/* line 1, ../_sass/works.scss */
.works {
  font-family: "optima";
  background-color: #ffffff;
}
/* line 4, ../_sass/works.scss */
.works .work-info {
  padding: 50px 0 0 0;
}
/* line 6, ../_sass/works.scss */
.works .work-info h2 {
  font-size: 42px;
  font-style: italic;
  color: #898989;
}
/* line 11, ../_sass/works.scss */
.works .work-info p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 20px;
  width: 300px;
  color: #393939;
}
/* line 18, ../_sass/works.scss */
.works .work-info a {
  color: gray;
  font-size: 18px;
}
/* line 23, ../_sass/works.scss */
.works .work-img {
  margin: 20px;
  width: 200px;
  height: 200px;
}

/* line 1, ../_sass/blog.scss */
.blog-page {
  background-color: #ffffff;
}

/* line 5, ../_sass/blog.scss */
.blog-post {
  margin-top: 20px;
}

/* line 10, ../_sass/blog.scss */
.blog-date p {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #2B1B17;
  margin-left: 50px;
}

/* line 19, ../_sass/blog.scss */
.blog-card {
  border-bottom: 1px dashed gray;
  padding-bottom: 20px;
  font-family: "optima";
}
/* line 23, ../_sass/blog.scss */
.blog-card .blog-title {
  margin: 0 0 20px 15px;
}
/* line 25, ../_sass/blog.scss */
.blog-card .blog-title h2 {
  font-family: "SketchBlock-Bold", sans-serif;
  font-size: 36px;
  font-style: bold;
}
/* line 30, ../_sass/blog.scss */
.blog-card .blog-title a {
  text-decoration: none;
  color: #463E3F;
}
/* line 36, ../_sass/blog.scss */
.blog-card .blog-content p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 15px 15px;
}
/* line 41, ../_sass/blog.scss */
.blog-card .blog-content a {
  color: #0099cb;
}
