/* line 1, ../_sass/works.scss */
.works {
  font-family: "optima";
  background-color: #ffffff;
}
/* line 4, ../_sass/works.scss */
.works .work-info {
  padding: 50px 0 0 0;
}
/* line 6, ../_sass/works.scss */
.works .work-info h2 {
  font-size: 42px;
  font-style: italic;
  color: #898989;
}
/* line 11, ../_sass/works.scss */
.works .work-info p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 20px;
  width: 300px;
  color: #393939;
}
/* line 18, ../_sass/works.scss */
.works .work-info a {
  color: gray;
  font-size: 18px;
}
/* line 23, ../_sass/works.scss */
.works .work-img {
  margin: 20px;
  width: 200px;
  height: 200px;
}
