---
layout: default
title: Credarp, Inc.
---

<div class="row">
  <div class="span12 about">
    <div class="row">
      <div class="span4 about-title">
        About Us
      </div>
      <div class="span8 about-us">
        <p>{{ site.tagline }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 product">
    <div class="row">
      <div class="span5 product-info">
        <p>Latest Product</p>
      </div>
      <div class="span7 product-img">
         <a href="http://elbum.in">
           <div class="productimg">
             <img src="{{ site.url }}/images/forlaunch.png">
           </div>
         </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 team_title">
     <div class="about-team">
      <p>Our Goal Is Building the Best Products.</p>
     </div>
  </div>
</div>

<div class="row">
  <div class="span12 team">
    {% for member in site.members%}
    <div class="span2 member" >
      <img src="{{ site.url }}/images/{{ member.image }}">
      <div class="member-title">{{ member.title }}</div>
      <div class="member-bio">{{ member.bio }}</div>

      <div class="member-link">
        {% for link in member.links %}
        <a target="_blank" href="{{ link.url}}" title="{{ link.title }}">
          <i class="fa icon-2x {{ link.class }}"></i>
        </a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>