.blog-page {
     background-color: #ffffff;
}

.blog-post {
  margin-top:20px;
}

.blog-date {
  p{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #2B1B17;
    margin-left: 50px;
  }
}


.blog-card {
  border-bottom:1px dashed gray;
  padding-bottom: 20px;
  font-family: "optima";
  .blog-title{
    margin: 0 0 20px 15px;
    h2{
      font-family: "SketchBlock-Bold", sans-serif;
      font-size: 36px;
      font-style: bold;
    }
    a{
      text-decoration: none;
      color: #463E3F;
    }
  }
  .blog-content {
    p {
      font-size: 16px;
      line-height: 1.5em;
      margin: 15px 15px ;
    }
    a {
      color: #0099cb;
    }
  }
}
