@import "compass/css3";
html {
  @include background-size(cover);
  background: {
    position: top left;
    image: image-url("background.png");
    repeat: no-repeat;
  }
}

.header {
  @include background-size(cover);
  text-align: center;
  background: {
    position: top left;
    image: image-url("credarp_header.jpg");
    repeat: no-repeat;
  }
  .logo {
    position: relative;
    left: -128px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 50%;
    margin-left: 50%;
    width: 256px;
  }
  .intro {
    color: white;
    font-style: italic;
    font-size: 36px;
    font-family: "optima";
    line-height: 90px;
  }
  .menu {
    margin: 0px;
    height: 70px;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 20px 50px;
        a {
          @include opacity(1);
          color: white;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
}

.about {
  height: 220px;
  background: #f5f5f5;
  color: rgba(137,137,137,1);
  line-height: 1.8em;
}

.about-title {
  margin-top: 100px;
  height: 250px;
  vertical-align: middle;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-family: "optima";
}

.about-us {
  height: 250px;
  font-family: 'Lato', sans-serif;
  p {
    margin: 60px auto;
    font-size: 18px;
  }
}

.product {
  height: 245px;
  background-image: url(../images/elbumproduct.png);
}

.product-img {
  height: 245px;
  img{
    width: 200px;
    height: 200px;
  }
}

.productimg{
 margin: 30px 0 0 200px;
}

.product-info {
  height: 245px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "optima";
  p {
    margin-top: 100px;
    vertical-align: middle;
    font-style: italic;
  }
}

.team_title {
  height: 120px;
  background: #fafafa;
  color: rgba(137,137,137,1);
  text-align: center;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}

.about-team {
  padding: 40px;
}

.team {
  height: 600px;
  background-image:url(../images/team_member.jpg);
  img{
    margin-left: 0;
    width:160px;
    height:160px;
  }
}

.works{
  margin:30px 0 30px 0;
  font-family:"optima";
  .work-info{
    padding: 30px 0 0 0;
    h2{
      font-size: 42px;
    }
    p{
      margin-top: 10px;
      font-size: 18px;
      line-height: 20px;
    }
    a{
      color: gray;
      font-size: 16px;
    }
  }
  .work-img{
    margin: 0 0 0 20px;
    width: 300px;
    height: 250px;
  }
}

.member {
  margin:40px 0 0 30px;
  height: 560px;
  color: #E5E4E2;
  font-family: "optima";
  line-height: 1.4em;
  a{
    color: #E5E4E2;
    font-size: 18px;
    &:hover{
      color: silver;
    }
  }
  .member-title {
    margin:20px 0 20px 0 ;
    font-size: 18px;
  }

  .member-bio {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
  }

  .member-link {
    margin:10px 5px 0 5px;
  }
}

.wufoo{
  margin-top: 20px;
}

.contact-info{
  p{
    margin: 20px 0 0 50px;
    width: 190px;
    color: #2B1B17;
    font-size: 20px;
    font-family: "optima";
    line-height: 1.5em;
  }
}

.footer {
  margin: 20px auto;
  height: 30px;
  color: #2B1B17;
  text-align: center;
  font-size: 18px;
  font-family: "optima";
}