.works{
  font-family:"optima";
  .work-info{
    padding: 50px 0 0 0;
    h2{
      font-size: 42px;
      font-style: italic;
      color: #898989;
    }
    p{
      margin: 10px 0;
      font-size: 18px;
      line-height: 20px;
      width: 300px;
      color: #393939;
    }
    a{
      color: gray;
      font-size: 18px;
    }
  }
  .work-img{
    margin:20px;
    width: 200px;
    height: 200px;
    border: 8px solid #D8D8D8;
  }
}
.odd {
  background-color: #ffffff;
}
.even {
  background-color: #fafafa;
}